body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(110, 216, 180);
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.imagenes_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.imagenes_container .pokemon{
    position: relative;
    margin-right: -25px;
    display: inline-flex;
    flex-direction: column;
}

.imagenes_container .pokemon img{
    height: 200px;
    transition: all 0.3s ease-in;
}

.imagenes_container .pokemon img:hover{
    height: 250px;
}

.imagenes_container .pokemon .nombre_pokemon{
    border: 4px solid white;
    background-color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: larger;
    display: none;
    min-width: 100px;
    width: 150;
    top: -50px;
    right: 20px;
    position: absolute;
}

 .imagenes_container .pokemon img:hover + .nombre_pokemon {
    display: inline-block
}

.imagenes_container .pokemon .nombre_pokemon:before{
    background-color: blue;
}

@media (max-width: 900px){
    .imagenes_container{
        flex-direction: column;
        height: 135vh;
    }
}