body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(110, 216, 180);
}

ul img{
    height: 240px;
    transition: all 0.3s ease-in;
}

.container img:hover{
    height: 300px;
   
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}